<ul class="nav nav-list">
  <li class="<%= params[:id] == '1' ? 'active' : '' %>">
    <%= link_to 'Buttons', hctbox.styleguide_path('1') %>
  </li>
  <li class="<%= params[:id] == '2' ? 'active' : '' %>">
    <%= link_to 'Forms', hctbox.styleguide_path('2') %>
  </li>
</ul>
