.container
  h3 Styleguide - Buttons
  hr
  .row-fluid
    .span3
      = render partial: 'hctbox/styleguides/css/sidebar'
    .span9
      - kss_block 'Buttons' do
        button[class="btn $modifier_class"]
          |button (button class="btn $modifier_class")
        |  
        a[href="#" class="btn $modifier_class"]
          |link (a class="btn $modifier_class")

      - kss_block 'Button Size' do
        button[class="btn $modifier_class"]
          |button (button class="btn $modifier_class")
